%h1 Listing shared_resources

%table
  %tr
    %th Path
    %th Directory
    %th Read
    %th Write
    %th
    %th
    %th

  - @shared_resources.each do |shared_resource|
    %tr
      %td= shared_resource.path
      %td= shared_resource.directory
      %td= shared_resource.read
      %td= shared_resource.write
      %td= link_to 'Show', shared_resource
      %td= link_to 'Edit', edit_shared_resource_path(shared_resource)
      %td= link_to 'Destroy', shared_resource, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Shared resource', new_shared_resource_path
